@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 45rem;
  margin-right: auto;
  margin-left: auto;
}

header {
  text-align: center;
  margin-bottom: 3rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 3rem;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 1rem;
}

.item {
  aspect-ratio: 1/1;
  border: 1px solid #d5d5d5;
  cursor: pointer;
}

.item.active,
.item:hover {
  outline: 3px solid black;
}